<div class="jumbotron">
  <h1>Welcome to Idea Factory</h1>
  
  <p>Imagine your startup full of creative people, but with lack of resources to implement all their great ideas. Collaborators should have a system to write down and share their thoughts on new apps to build.</p>

  <p>That's why we brought to you Idea Factory. We truly hope you enjoy it!</p>
 
  <%= link_to "Share your idea!", :ideas,    class: 'btn btn-primary' %>
  <%= link_to "Start a project!", :projects, class: 'btn btn-default' %>
</div>
