
<% if user_signed_in? %>
<div class="display">
  <h2>My Ideas</h2>
  <%= render partial: "ideas", locals: { ideas: @my_ideas, my_ideas:  true } %>
  <br>
  <h2>Other Ideas</h2>
<% else %>
  <h2>All Ideas</h2>
<% end %>

<%= render partial: "ideas", locals: { ideas: @ideas, my_ideas:  false } %>
</div>
<br>

<% if user_signed_in? %>
  <%= link_to 'New idea ...', new_idea_path, class: 'btn btn-primary' %>
<% end %>