<div class="navigation">
	<%= link_to 'Show', @project, class: 'btn btn-default' %> |
	<%= link_to 'Back', projects_path, class: 'btn btn-default' %>
</div>

<div class="display">
	<h1>Editing project</h1>
	<%= render 'form' %>	
</div>

