<% if user_signed_in? %>
  <h2>My Projects</h2>
  <%= render partial: "projects", locals: { projects: @my_projects, my_projects:  true } %>
  <br>
  <h2>Other Projects</h2>
<% else %>
	<h2>All Projects</h2>
<% end %>

<%= render partial: "projects", locals: { projects: @projects, my_projects:  false } %>

<br>
<% if user_signed_in? %>
  <%= link_to 'New project ...', new_project_path, class: 'btn btn-primary' %>
<% end %>
